Python

pycache/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

Virtual environment

venv/

Environment variables

.env

FAISS vectorstore or cache

vectordb/
intermediate
vector_db
models/mistral-7b-instruct-v0.1.Q4_K_M.gguf
